/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-apr-2015, 15.08.24
    Author     : corsojava
*/


.barralogout {
    background-color: #e2efed;
    padding: 15px;
}

.barradestra {
    background-color: #e2efed;
}

.header {
    background-color: #eff9f8;
}