/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mag-2015, 15.47.31
    Author     : selosai
*/

/*bottom border removed: 130306*/


body { margin:0px; }
h1 {
  color:white;
  font-family: arial, helvetica, san-serif;
  font-size: 1.5em;
  line-height: 1.1;
}

.header-wrap {
  background: #0099cc;
  /*border removed*/
  padding:2%;
  box-shadow: 0 5px 10px #aaa;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
}

body {
  margin: 0;
  padding: 0;
}
header {
  background: #ccc;
  padding: 2em 0;
  display: table;
  width: 100%;
}
#main {
  padding: 2em;
}
hgroup,
nav,

.smth,
h1,



h2 {
  display: table-cell;
  vertical-align: middle;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  width: 24%;
}
nav a {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  border: 1px solid rgba(0,0,0,.2);
  padding: 1em 2em;
  text-decoration: none;
  display: block;
  text-align: center;
}
nav a:hover {
  background: #fff;
}
hgroup {
  padding-left: 2em;
  width: 25%;
}
h1 {
  padding-right: 1em;
}
h2 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  padding-left: 2em;
  border-left: 1px solid rgba(0,0,0,.2);
}
.smth {
  width: 15%;
  text-align: right;
  padding-right: 2em;
}

#titolo {
        font-family: 'Maven+Pro', sans-serif;
        font-size: 48px;
    }


* {
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
 
}

form {
  position:relative;
  width:360px;
  height:250px;
  margin:50px auto;
  text-align:center;
  background:#ecf0f1;
  padding:40px;
  -webkit-border-radius:20px 0 0 0;
     -moz-border-radius:20px 0 0 0;
          border-radius:20px 0 0 0;
  -webkit-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
     -moz-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
          box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
  box-shadow: 20px 20px 20px;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:2em;
  font-weight:300;
  margin-bottom:25px;
  color:#7f8c8d;
  text-shadow:1px 1px 0px white;
}

input {
  display:block;
  width:315px;
  padding:14px;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
  border:0;
  margin-bottom:12px;
  color:#7f8c8d;
  font-weight:600;
  font-size:16px;
}

input:focus {
  background:#fafafa;
}


li {
  position:absolute;
  right:40px;
  bottom:62px;
  list-style:none;
}

a, a:visited {
  text-decoration:none;
  color:#7f8c8d;
  font-weight:400;
  text-shadow:1px 1px 0px white;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.button {
  position:relative;
  font-size:2em;
  float:left;
  width:145px;
  margin-top:10px;
  background:#3498db;
  color:#fff;
  font-weight:400;
  text-shadow:1px 1px 0px #2d7baf;
  box-shadow:0px 3px 0px #2d7baf;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}



