<div class="row"><h3> </h3></div>
<div class="row">    
    <div class="col-md-9">
        <div class="row">
        <div class="col-md-9 intestazione">
            <h3>LISTA CONTRATTI LEASING</h3>
        </div>
        <div class="col-md-3 barraricerca">
            <!--div class="form-group">
                <input class="name form-control" type="text" placeholder="Cognome" ng-model="query"/>
            </div-->
            <!--input ng-model="query" type="search" placeholder="Cognome" autofocus-->
        </div>
        </div>
        <div class="row"><h3> </h3></div>
        <div class="row">
            <table class="bordered">
                <thead>
                <th>Società leasing</th>              
                <th>Data attivazione</th>
                <th>Data scadenza</th>
                <th>Kilometri</th>
                <th>Costo noleggio</th>
                <th>Costo servizi</th>
                <th></th>
                </thead>
                <!--tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-default" ng-click="NuovoContrattoAuto()"/>Nuovo</button>
                    </td>
                </tr-->
                <tr ng-repeat="contratto in contratti">
                    <td>{{contratto.societaLeasing}}</td>
                    <td>{{contratto.dataAttivazione}}</td>
                    <td>{{contratto.dataScadenza}}</td>
                    <td>{{contratto.kilometriContratto}}</td>
                    <td>{{contratto.costoNoleggio}}</td>
                    <td>{{contratto.costoServizi}}</td>
                    <td>
                        <div class="btn-group" ng-hide="currentEdit[contratto.idContratto]">
                            <button class="btn btn-default" type="button">Modifica</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="barralogout col-md-3">
        <button class="btn btn-default bottone" ng-click="logout()" id="submit">Logout</button>
    </div>
</div>


