<div class="row"><h3> </h3></div>
<div class="row">
    <div class="col-md-9">
        <h3>LISTA AUTO</h3>



        <table class="bordered">


            <thead> 
            
            <th>Modello</th>
            <th>Targa</th>
            <th>Azioni</th>
                    

            </thead>
            <tr ng-repeat="automobili in automobili">
               
                <td>{{automobili.modello}}</td>
                <td>{{automobili.targa}}</td>
                <td>
                        <div class="btn-group" dropdown ng-hide="currentEdit[dipendente.codiceFiscale]">
                            <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button">
                                Azioni <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="VisualizzaContrattiAuto(automobili.id)">Visualizza contratto</a></li>
                            </ul>
                        </div>
                    
                    </td>
            </tr>

        </table>
    </div>
    
</div>


