<div class="row"><h3> </h3></div>
<div class="row">
<div class="col-md-9">
    <div class="row"><h3>LISTA DIPENDENTI</h3></div>
    <div class="row"><h3> </h3></div>
    <div class="row">
    <table class="bordered">

        <thead>
        <th>Codice fiscale</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Indirizzo</th>
        <th>Stipendio mensile</th>
        <th></th>

        </thead>
        <tr ng-repeat="dipendente in dipendenti">
            <td>{{dipendente.codiceFiscale}}</td>
            <td>{{dipendente.nome}}</td>
            <td>{{dipendente.cognome}}</td>
            <td>{{dipendente.indirizzo}}</td>

            <td>{{dipendente.stipendioMensile}}</td>

            <td>
                <div class="btn-group" dropdown ng-hide="currentEdit[dipendente.codiceFiscale]">
                    <button class="btn btn-success dropdown-toggle" dropdown-toggle type="button">
                        Azioni <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">

                        <li><a ng-click="AggiungiContrattoTelefonico(dipendente.codiceFiscale)">Contratto telefonico</a></li>
                        <li><a ng-click="AggiungiContrattoAuto(dipendente.codiceFiscale)">Contratto leasing</a></li>
                        <li><a ng-click="VisualizzaContrattiTelefonici(dipendente.codiceFiscale)">Visualizza contratti telefonici</a></li>
                        <li><a ng-click="VisualizzaContrattiAuto(dipendente.codiceFiscale)">Visualizza contratti leasing</a></li>

                        <!-- <li><a ng-click="aggiungiProdotto()">Aggiungi</a></li>-->
                    </ul>
                </div>

                <button class="btn btn-success" ng-show="vm.currentEdit[league.id]" ng-click="vm.saveItem(league)">Save</button>
                <button class="btn btn-danger" ng-show="vm.currentEdit[league.id]" ng-click="vm.cancelEdit(league.id)">Cancel</button>
            </td>
        </tr>

    </table>
    </div>
    <div class="row"><h1> </h1></div>
    <div class="row">
    <button class="btn btn-success bottone" ng-click="aggiungiDipendente()"  />Aggiungi dipendente</button>
    </div>
</div>
                    <div class="barralogout col-md-3">
                            <button class="btn btn-default bottone" ng-click="logout()" id="submit">Logout</button>
                    </div>
</div>


