<div class="row"><h3> </h3></div>
<div class="row">
    <div class="col-md-9">
        <h3>LISTA CONTRATTI CELLULARE</h3>



        <table class="bordered">


            <thead> 
            <th>Data Attivazione</th>
            <th>Data Scadenza</th>
            <th>Costo Bimestrale</th>
            <th>Profilo Contratto</th>

            <th>Azioni</th>



            </thead>
            <tr ng-repeat="contrattocellulare in contratticellulare">
                <td>{{contrattocellulare.dataAttivazione|date : 'dd-MM-yyyy'}}</td>
                <td>{{contrattocellulare.dataScadenza|date : 'dd-MM-yyyy'}}</td>
                <td>{{contrattocellulare.costoBimestrale}}</td>
                <td>{{contrattocellulare.profiloContratto}}</td>
                <td>
                    <div class="btn-group" dropdown ng-hide="currentEdit[dipendente.codiceFiscale]">
                        <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button">
                            Azioni <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="modificaContrattoCellulare(contrattocellulare)">Modifica contratto</a></li>
                        </ul>
                    </div>

                </td>
            </tr>

        </table>
    </div>

     <div class="col-md-3 barralogout">
            <!--input ng-model="query" type="search" placeholder="Cognome" autofocus-->
            <button ng-controller="logoutController" class="btn btn-default bottone" ng-click="logout()" id="submit">Logout</button>
        </div>

</div>


