<!--
<div>
    Nome:<input type="text" ng-model="user.username" />
    Password:<input type="text" ng-model="user.password"/>
    <button ng-click="login()">Login</button>
        
        
</div>
-->

<div>
<form>
  <h4> Login </h4>
  <input class="name" type="text" placeholder="Inserisci Username" ng-model="user.username"/>
  <input class="pw" type="password" placeholder="Inserisci Password" ng-model="user.password"/>
   <button class="button" ng-click="login()">Login</button>
  
</form>
</div>
{{messaggio}}