
<div class="modal-header">
    <h2>Contratto Auto</h2>

</div>

<div class="modal-body">

    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Data Attivazione</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="data.contrattoAuto.dataAttivazione" 
                       datepicker-popup="dd/MM/yyyy"
                       is-open="opened"
                       ng-click="open($event)" 
                       close-text="Chiudi"/> 
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Data Scadenza</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="data.contrattoAuto.dataScadenza"
                       datepicker-popup="dd/MM/yyyy"
                       is-open="opened2"
                       ng-click="open2($event)" 
                       close-text="Chiudi"/> 
            </div>
        </div>
        
        
        <div class="form-group">
            <label class="col-sm-3 control-label">costoNoleggio</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="data.contrattoAuto.costoNoleggio" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label">costoServizi</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="data.contrattoAuto.costoServizi" />
            </div>
        </div>
        
        
        <div class="form-group">
            <label class="col-sm-3 control-label">kilometriContratto</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="data.contrattoAuto.kilometriContratto" />
            </div>
        </div>
        
        
       
        
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Società Leasing</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="data.contrattoAuto.societaLeasing" />
            </div>
        </div>
        
      

        
    </form>
</div>

<div class="modal-footer">

    <button class="btn btn-primary" ng-click="modificaContrattoAuto()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>



