<div class="modal-header">
    <h2>{{data.titolo}}</h2>

</div>


<div class="modal-body">


    <form role="form" class="form-horizontal" name="modAutoForm" ng-submit="submitForm(modAutoForm.$valid)" novalidate >


        <div class="form-group">
            <label class="col-sm-3 control-label">Targa</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="targa" ng-model="data.automobile.targa" value="{{data.contrattoAuto.automobile.targa}}" required>
                <p ng-show="modAutoForm.targa.$invalid && !modAutoForm.targa.$pristine" class="help-block">inserisci la targa dell'auto!</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Modello</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="modelloAuto" ng-model="data.automobile.modello" value="{{data.contrattoAuto.automobile.modello}}" required>
                <p ng-show="modAutoForm.modelloAuto.$invalid && !modAutoForm.modelloAuto.$pristine" class="help-block">inserisci il modello dell'auto!</p>


            </div>
        </div>
    </form>

</div>



<div class="modal-footer">

    <button type="submit" class="btn btn-primary" ng-click="modificaAuto()" ng-disabled="modAutoForm.$invalid">Salva</button>

    <button class="btn btn-default" ng-click="cancel()">Annulla</button>
</div>