<div class="modal-header">
    <h2>{{data.titolo}}</h2>

  
</div>

  
</div>
<div class="modal-body">
    
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">CF</label>
            <div class="col-sm-9">

                <input type="text" class="form-control" ng-model="dipendente.codiceFiscale" />

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Cognome Dipendente</label>
            <div class="col-sm-9">

                <input type="text" class="form-control" ng-model="dipendente.cognome"/> 
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-3 control-label">nome Dipendente</label>
            <div class="col-sm-9">

                <input type="text" class="form-control" ng-model="dipendente.nome"/> 
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-3 control-label">indirizzo</label>
            <div class="col-sm-9">

                <input type="text" class="form-control" ng-model="dipendente.indirizzo"/> 
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-3 control-label">stipendio</label>
            <div class="col-sm-9">

                <input type="text" class="form-control" ng-model="dipendente.stipendioMensile"/> 
            </div>
        </div>
      
    </form>
</div>

<div class="modal-footer">

    <button class="btn btn-primary" ng-click="save()">Save</button>

    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>