<div class="modal-header">
    <h2>Nuovo contratto telefonico</h2>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal">
        <h4>Dati contratto</h4>
        <div class="form-group">
            <label class="col-sm-3 control-label">Profilo contratto</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.profiloContratto" > 
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Tipo contratto</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.tipoContratto" > 
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Data attivazione</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.dataAttivazione" 
                       datepicker-popup="dd/MM/yyyy"
                       is-open="opened"
                       ng-click="open($event)" 
                       close-text="Chiudi"/> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Data scadenza</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.dataScadenza"
                       datepicker-popup="dd/MM/yyyy"
                       is-open="opened2"
                       ng-click="open2($event)" 
                       close-text="Chiudi"/> 
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Costo bimestrale</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.costoBimestrale" > 
            </div>
        </div>
    </form>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal">
        <h4>Dati telefono</h4>
        <div class="form-group">
            <label class="col-sm-3 control-label">Numero</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.cellulare.numero" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Numero sim</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.cellulare.numeroSim" > 
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Modello</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="nuovoContratto.cellulare.modello" > 
            </div>
        </div>
    </form>
</div>      
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="aggiungiContratto()">Salva</button>
    <button class="btn btn-default" ng-click="cancel()">Annulla</button>
</div>